@charset "UTF-8";

html {
  height: 100%;
}

body {
  height: 100%;
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#154360,  #21618c);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

table.auto{
	table-layout:auto;
}
.list-box {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /*position: absolute;
  top: 50%;
  left: 50%;*/
  max-width: 1680px;
  padding: 40px;
  /*transform: translate(-50%, -50%);*/
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  overflow-x: scroll;
}

.list-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.list-box .datatable-box {
  width: 100%;
}

.list-box input {
  width: auto;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  /*margin-bottom: 15px;*/
  border: none;
  outline: none;
  background: transparent;
}

.list-box form a, .list-box form input{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  /*margin-top: 22px;*/
  letter-spacing: 4px
}

.list-box a:hover, .list-box input:hover{
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

td, th {
  text-align: center;
  color: #fff;
  padding: 6px;
}
